html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #7f7f7f;
    align-items: center;
}
.btn_download{
    margin: 0 0 10px 0;
    width: 150px;
    height: 40px;
    box-shadow: #7f7f7f 1px 1px 1px;
    -ms-scrollxbar-shadow-color: #7f7f7f 1px 1px 1px;
    border-radius: 10px;
    background-color: #343a40;
    color: white;
}
.btn_download:hover{
    cursor: pointer;
}
.result{
    color: #212529;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
flex-wrap: wrap;
}
.box{
    text-align: center;
    background-color: #343a40;
    color: white;
    border: 1px black solid;
    flex: 1;
    padding: 10px;
}