*{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.container_p{
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
}

.line {
    background-color: black;
}
.vertical {
    position: relative;
    width: 2px;
    height: 55%;
    left: calc(50% - 1px) ;
    top: 4px;
}

.horizontal {
    position: relative;
    width: 40%;
    height: 2px;
    left: 40% ;
    top: calc(50% - 1px);
    z-index: 1;
}

.dot{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: #040B14 1px solid;
}

.dot_top{
    top: 4px;
    left: calc(50% - 6px);
}

.dot_bottom{
    bottom: 4px;
    left: calc(50% - 6px);
}

.dot_left{
    top:calc(50% - 6px);
    left: 4px;
}

.dot_right{
    top:calc(50% - 6px);
    right: 4px;
}